
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.user-info {
    width: 60%;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info:hover {
    transform: scale(1.03);
}

h1 {
    color: #333333;
    background-color: #f8f8f8;
    padding: 20px;
    margin: 0;
    font-size: 24px;
    border-bottom: 1px solid #ddd;
    border-radius: 10px 10px 0 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    text-align: center; /* Center the text */
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
}

th {
    background-color: #f2f2f2;
}

td {
    font-weight: normal;
}

tr:last-child td {
    border-bottom: none;
}

tr:hover {
    background-color: #f4f4f4;
}

td:hover {
    background-color: #e0e0e0;
}
